<div class="shipcombat-popout-radar-body">
    <div class="shipcombat-radar-wrap shipcombat-popout-radar-wrap">
        <canvas data-sensor-radar-popout></canvas>
        <button class="shipcombat-bearing-toggle-btn shipcombat-popout-bearing-btn" data-popout-action="toggleBearing">
            <i class="fa-solid fa-compass-drafting"></i>
            <span class="shipcombat-popout-bearing-label">REL</span>
        </button>
    </div>
    <div class="shipcombat-popout-toolbar-bottom">
        <div class="shipcombat-radar-zoom-wrap">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="range" class="shipcombat-radar-zoom shipcombat-popout-zoom" min="5" max="30" step="1" value="30" />
            <span class="shipcombat-radar-zoom-label shipcombat-popout-zoom-label">30</span>
        </div>
    </div>
</div>
