<div class="shipcombat-header shipcombat-torpedo-header-block">

  <header class="sheet-header">
    <img class="profile" src="{{actor.img}}" data-action="editImage" data-edit="img">
    <div class="header-details">
      <div class="details-row name">
        <input type="text" name="name" value="{{actor.name}}" placeholder="Torpedo"
               {{#unless owner}}disabled{{/unless}}>
      </div>
      <div class="shipcombat-torpedo-bars">
        {{> "vessel-resource-bar"
            label="Warheads Lost" fillClass="hull" pct=hullPct value=sys.hull.value max=sys.hull.max}}
        {{> "vessel-resource-bar"
            label="Fuel" fillClass="fuel" pct=fuelPct value=sys.fuel.value max=sys.fuel.max}}
      </div>
    </div>
  </header>

</div>
