{{!-- tabs/6/pilot.hbs — Pilot's station tab --}}
<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">

    {{> "pilot-claim-prompt"}}

    {{#if (or isGM (lookup (lookup roles "pilot") "isMyRole"))}}
    {{> "pilot-captain-boost"}}
    {{> "pilot-status-bar"}}
    {{> "pilot-helm-sl-alloc"}}
    {{> "pilot-helm-control"}}
    {{> "pilot-overcharged-actions"}}
    {{/if}}

    {{> 'complete-turn' tabRoleId="pilot" turnDone=(lookup @root.sys.turnDone "pilot")}}

</section>
